## Cкрипт-загрузчик (облачное хранилище - база данных) для АиФ

Ссылка на дашборд https://datalens.yandex/6i42ebpqd27yt

### Подключение к Яндекс Диску

In [ ]:
# импорты
import yadisk
import os
from tqdm import tqdm
import pandas as pd
# !pip -q install ipython-sql
import sqlite3 as sl
pd.set_option('display.max_colwidth', False)

In [ ]:
app_id = 
secret_id = 
ya_token = 
y = yadisk.YaDisk(app_id, secret_id, ya_token)

In [ ]:
y.check_token()

True

### Создаем список файлов для загрузки

In [ ]:
# создаем список файлов для загрузки
list_of_files = []
for el in list(y.listdir('aif')):
    if el['path'].endswith('.csv'):
        list_of_files.append(el['path'])
list_of_files

['disk:/aif/1 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'disk:/aif/2 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'disk:/aif/3 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'disk:/aif/4 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'disk:/aif/Заказы.csv']

### Создаем репозиторий для хранения файлов с диска

In [ ]:
# создаем папку загрузки
load_path = 'C:/Users/7/Desktop/АиФ/Автозагрузка'
if not os.path.exists(load_path):
    os.mkdir(load_path)
os.chdir(load_path)

# проверяем корректность загрузки
os.listdir()

['1 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '2 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '3 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '4 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'aif_bd',
 'Заказы.csv']

### Загружаем файлы с ЯД в репозиторий

In [ ]:
down = os.listdir()
# Цикл для загрузки файлов из репозитория
for file in tqdm(list_of_files):
    filename = file.split('/')[-1]  # Извлекаем имя файла
    if filename not in down:  # Проверяем, есть ли файл в папке
        y.download(file.split(':')[1], filename)
        down.append(filename)  # Добавляем имя загруженного файла в список
# проверяем корректность загрузки
os.listdir()

100%|████████████████████████████████████████████████████| 5/5 [00:00<?, ?it/s]

['1 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '2 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '3 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 '4 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv',
 'aif_bd',
 'Заказы.csv']

In [ ]:

# Основной путь
main_path = 'C:/Users/7/Desktop/АиФ/Автозагрузка'

# Список путей к файлам (без "Заказы.csv")
file_paths = [
    f"{main_path}1 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv",
    f"{main_path}2 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv",
    f"{main_path}3 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv",
    f"{main_path}4 of 4 - Dobroaif - 04.09.2024 - 41884 - 9b4daafd-72bb-4951-b6fd-0d09eaf37387.csv",
]

# Инициализация пустого DataFrame
final_data = pd.DataFrame()

# Цикл для чтения и объединения файлов
for file_path in file_paths:
    if os.path.exists(file_path):
        chunk = pd.read_csv(file_path, sep=';')
        final_data = pd.concat([final_data, chunk], ignore_index=True)
    else:
        print(f"Файл {file_path} не найден")

# Загрузка "Заказы.csv" отдельно
orders = pd.read_csv(f"{main_path}Заказы.csv", sep=';')

C:\Users\7\AppData\Local\Temp\ipykernel_8016\926293107.py:18: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  chunk = pd.read_csv(file_path, sep=';')
C:\Users\7\AppData\Local\Temp\ipykernel_8016\926293107.py:18: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  chunk = pd.read_csv(file_path, sep=';')
C:\Users\7\AppData\Local\Temp\ipykernel_8016\926293107.py:24: DtypeWarning: Columns (11,16) have mixed types. Specify dtype option on import or set low_memory=False.
  orders = pd.read_csv(f"{main_path}Заказы.csv", sep=';')

## Предобработка таблиц перед загрузкой в БД

In [ ]:
#функция для преобразования типа столбцов
def change_type(data):
    for col in data.columns:
        if data[col].dtype == 'object':
            data[col] = data[col].astype('category')
    return data

**Действия**

In [ ]:
#Преобразуем тип столбцов с датой в формат datetime
final_data['CustomerActionDateTimeUtc'] = pd.to_datetime(final_data['CustomerActionDateTimeUtc'], format='%d.%m.%Y %H:%M')
final_data['CustomerActionCreationDateTimeUtc'] = pd.to_datetime(final_data['CustomerActionCreationDateTimeUtc'], format='%d.%m.%Y %H:%M')
#Преобразуем тип столбцов с object
final_data = change_type(final_data)
#в id уберем 0 после точки и значение nan
final_data['CustomerActionCustomerIdsMindboxId'] = final_data['CustomerActionCustomerIdsMindboxId'].map('{:.0f}'.format)
final_data = final_data[final_data['CustomerActionCustomerIdsMindboxId'] != 'nan']
final_data['CustomerActionCustomerIdsMindboxId'] = final_data['CustomerActionCustomerIdsMindboxId'].astype(str)

In [ ]:
final_data.drop(['CustomerActionIdsMindboxId',
    'CustomerActionActionTemplateIdsSystemName',
    'CustomerActionBrandIdsSystemName',
    'CustomerActionChannelIdsMindboxId',
    'CustomerActionChannelIdsExternalId',
    'CustomerActionChannelIdsSystemName',
    'CustomerActionChannelUtmCampaign',
    'CustomerActionChannelUtmSource',
    'CustomerActionChannelUtmMedium',
    'CustomerActionChannelUtmContent',
    'CustomerActionChannelUtmTerm',
    'CustomerActionCustomerIdsBackendID',
    'CustomerActionCustomerIdsWebsiteID'
], axis = 1, inplace = True)

In [ ]:
#пропуски в процентном соотношении
pd.DataFrame(round(final_data.isna().mean()*100,1)).style.background_gradient('coolwarm')

In [ ]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2850804 entries, 0 to 2850804
Data columns (total 5 columns):
 #   Column                              Dtype
---  ------                              -----
 0   CustomerActionActionTemplateName    category
 1   CustomerActionDateTimeUtc           datetime64[ns]
 2   CustomerActionCreationDateTimeUtc   datetime64[ns]
 3   CustomerActionChannelName           category
 4   CustomerActionCustomerIdsMindboxId  object
dtypes: category(2), datetime64[ns](2), object(1)
memory usage: 87.0+ MB

In [ ]:
final_data.head()

,CustomerActionActionTemplateName,CustomerActionDateTimeUtc,CustomerActionCreationDateTimeUtc,CustomerActionChannelName,CustomerActionCustomerIdsMindboxId
0,Импорт при переносе исторической базы клиентов,2022-03-19 21:30:00,2022-03-19 21:30:00,Сайт,2734
1,Оплата заказа,2021-10-14 15:50:00,2022-04-18 15:48:00,Административный сайт Mindbox,2734
2,Оплата заказа,2021-03-18 10:52:00,2022-04-18 15:49:00,Административный сайт Mindbox,2734
3,Изменение часового пояса клиентов при изменении региона,2022-11-23 08:40:00,2022-11-23 08:40:00,Сайт,2734
4,Переход на сайт,2022-11-23 08:40:00,2022-11-23 08:40:00,utm_term Не указан,2734

**Заказы**

In [ ]:
#преобразуем дату и тип object
orders['OrderFirstActionDateTimeUtc'] = pd.to_datetime(orders['OrderFirstActionDateTimeUtc'], format='%d.%m.%Y %H:%M')
orders = change_type(orders)

In [ ]:
orders.drop(['OrderIdsMindboxId',
             'OrderFirstActionIdsMindboxId',
             'OrderLineBasePricePerItem',
'OrderFirstActionChannelIdsMindboxId',
'OrderFirstActionChannelIdsExternalId',
'OrderAreaIdsExternalId',
'OrderTransactionIdsExternalId',
'OrderDeliveryCost',
'OrderLineGiftCardAmount',
'OrderLineGiftCardStatusIdsSystemName',
'OrderLineNumber',
'OrderLineLineNumber',
'OrderLineId',
'OrderLineLineId',
'OrderCustomerIdsBackendID',
'OrderCustomerIdsWebsiteID',
'OrderIdsBackendID',
'OrderIdsWebsiteID',
'OrderLineProductIdsWebsite',
'OrderCustomFieldsNextPayDate'
], axis = 1, inplace = True)

In [ ]:
#пропуски в процентном соотношении
pd.DataFrame(round(orders.isna().mean()*100,1)).style.background_gradient('coolwarm')

In [ ]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96565 entries, 0 to 96564
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   OrderFirstActionDateTimeUtc   96565 non-null  datetime64[ns]
 1   OrderFirstActionChannelName   96565 non-null  category
 2   OrderTotalPrice               96565 non-null  int64
 3   OrderCustomFieldsNewyear      1867 non-null   category
 4   OrderCustomFieldsRecurrent    84128 non-null  category
 5   OrderCustomFieldsRepayment    8667 non-null   category
 6   OrderLineProductName          96346 non-null  category
 7   OrderLineQuantity             96565 non-null  int64
 8   OrderLinePriceOfLine          96565 non-null  int64
 9   OrderLineStatusIdsExternalId  96565 non-null  category
 10  OrderCustomerIdsMindboxId     96565 non-null  int64
dtypes: category(6), datetime64[ns](1), int64(4)
memory usage: 4.3 MB

In [ ]:
orders.head(2)

,OrderFirstActionDateTimeUtc,OrderFirstActionChannelName,OrderTotalPrice,OrderCustomFieldsNewyear,OrderCustomFieldsRecurrent,OrderCustomFieldsRepayment,OrderLineProductName,OrderLineQuantity,OrderLinePriceOfLine,OrderLineStatusIdsExternalId,OrderCustomerIdsMindboxId
0,2022-01-27,Административный сайт Mindbox,500,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,500,Paid,6959
1,2022-01-29,Административный сайт Mindbox,200,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,200,Paid,7103

## Создание базы данных

In [ ]:
#проверяем директорию для БД, если ее нет создаем
if not os.path.exists('C:\\Users\\7\\Desktop\\АиФ\\Автозагрузка\\aif_bd'):
    os.mkdir('C:\\Users\\7\\Desktop\\АиФ\\Автозагрузка\\aif_bd')
os.chdir('C:\\Users\\7\\Desktop\\АиФ\\Автозагрузка\\aif_bd')

#создаем БД
aif_engine = sl.connect('battle_aif.sql')

#проверяем созданную БД
os.listdir()

#загружаем в базу таблицы
orders.to_sql('orders', con=aif_engine, if_exists='replace')
final_data.to_sql('final_data', con=aif_engine, if_exists='replace')

#Включаем расширение для SQL, подключаемся к базе данных
%load_ext sql
%sql sqlite:///battle_aif.sql

In [ ]:
%%sql

select *
from orders
limit 2;

 * sqlite:///battle_aif.sql
Done.

[(0, '2022-01-27 00:00:00', 'Административный сайт Mindbox', 500, None, None, None, 'Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков', 1, 500, 'Paid', 6959),
 (1, '2022-01-29 00:00:00', 'Административный сайт Mindbox', 200, None, None, None, 'Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков', 1, 200, 'Paid', 7103)]

In [ ]:
%%sql

select *
from final_data
limit 2;

 * sqlite:///battle_aif.sql
Done.

[(0, 'Импорт при переносе исторической базы клиентов', '2022-03-19 21:30:00', '2022-03-19 21:30:00', 'Сайт', '2734'),
 (1, 'Оплата заказа', '2021-10-14 15:50:00', '2022-04-18 15:48:00', 'Административный сайт Mindbox', '2734')]

## RFM анализ

**RFM 2023-24**

In [ ]:
%%sql
WITH orders_rfm AS (
    SELECT
        OrderCustomerIdsMindboxId AS id_client,
        DATE(OrderFirstActionDateTimeUtc) AS date_rfm,
        OrderTotalPrice AS price_rfm
    FROM orders
    WHERE OrderLineStatusIdsExternalId = 'Paid'
      AND DATE(OrderFirstActionDateTimeUtc) >= '2023-01-01'
      AND DATE(OrderFirstActionDateTimeUtc) <= '2024-09-30'
),

rfm AS (
    SELECT
        id_client,
        CAST(JULIANDAY('2024-09-30') - JULIANDAY(MAX(date_rfm)) AS INTEGER) AS recency,
        SUM(CASE WHEN DATE(date_rfm) >= '2023-01-01' AND DATE(date_rfm) <= '2024-0-30' THEN 1 ELSE 0 END) AS frequency,
        SUM(price_rfm) AS monetary
    FROM orders_rfm
    GROUP BY id_client
),

rfm_2 as (SELECT *,
       NTILE(4) OVER (ORDER BY recency) AS r,
       NTILE(4) OVER (ORDER BY frequency DESC) AS f,
       NTILE(4) OVER (ORDER BY monetary DESC) AS m
FROM rfm),

rfm_score as (SELECT *,
       r || '' || f || '' || m AS rfm_score
FROM rfm_2)

SELECT *,

CASE
    WHEN rfm_score IN ('111', '112', '121', '211', '122', '212', '221') THEN 'Постоянные благодетели' -- Высокоценные, частые, недавние клиенты
    WHEN rfm_score IN ('133', '134', '143', '144', '233','234', '243', '244', '311', '312', '321', '411', '412', '421') THEN 'Активные сторонники' -- недавние клиенты с потенциалом для более высокой вовлеченности
    WHEN rfm_score IN ('322', '323', '331', '332', '341', '342','422', '423', '431', '432', '441') THEN 'Требующие внимания' -- Клиенты, подверженные риску оттока из-за снижения активности
    WHEN rfm_score IN ('333', '334', '343', '344', '433', '434', '442', '443', '444') THEN 'Утраченные' -- Неактивные клиенты с низкой вовлеченностью
    ELSE 'Other'
END AS customer_segment

FROM rfm_score


LIMIT 5

 * sqlite:///battle_aif.sql
Done.

[(33989, 25, 56, 1788, 1, 1, 1, '111', 'Постоянные благодетели'),
 (25158, 25, 24, 41100, 1, 1, 1, '111', 'Постоянные благодетели'),
 (34072, 25, 24, 4290, 1, 1, 1, '111', 'Постоянные благодетели'),
 (38154, 25, 22, 3400, 1, 1, 1, '111', 'Постоянные благодетели'),
 (29426, 25, 18, 2510, 1, 1, 1, '111', 'Постоянные благодетели')]

RFM для dl

In [ ]:
'''WITH payments_rfm AS (
    SELECT
        ordercustomeridsmindboxid AS id_client,
        date(orderfirstactiondatetimeutc) AS date_rfm,
        ordertotalprice AS price_rfm
    FROM payments
    WHERE orderlinestatusidsexternalid = 'Paid'
      AND date(orderfirstactiondatetimeutc) >= '2023-01-01'
      AND date(orderfirstactiondatetimeutc) <= '2024-09-30'
),

rfm AS (
    SELECT
        id_client,
        ('2024-09-30'::date - max(date_rfm)) AS recency,
        sum(CASE WHEN date(date_rfm) >= '2023-01-01' AND date(date_rfm) <= '2024-09-30' THEN 1 ELSE 0 END) AS frequency,
        sum(price_rfm) AS monetary
    FROM payments_rfm
    GROUP BY id_client
),

rfm_2 as (
    SELECT *,
       ntile(4) OVER (ORDER BY recency) AS r,
       ntile(4) OVER (ORDER BY frequency DESC) AS f,
       ntile(4) OVER (ORDER BY monetary DESC) AS m
    FROM rfm
),

rfm_score as (
    SELECT *,
       r::text || f::text || m::text AS rfm_score
    FROM rfm_2
)

SELECT *,

CASE
    WHEN rfm_score IN ('111', '112', '121', '211', '122', '212', '221') THEN 'постоянные благодетели' -- Высокоценные, частые, недавние клиенты
    WHEN rfm_score IN ('133', '134', '143', '144', '233','234', '243', '244', '311', '312', '321', '411', '412', '421') THEN 'активные сторонники' -- недавние клиенты с потенциалом для более высокой вовлеченности
    WHEN rfm_score IN ('322', '323', '331', '332', '341', '342','422', '423', '431', '432', '441') THEN 'требующие внимания' -- Клиенты, подверженные риску оттока из-за снижения активности
    WHEN rfm_score IN ('333', '334', '343', '344', '433', '434', '442', '443', '444') THEN 'утраченные' -- Неактивные клиенты с низкой вовлеченностью
    ELSE 'other'
END AS customer_segment

FROM rfm_score'''

"WITH payments_rfm AS (\n    SELECT \n        ordercustomeridsmindboxid AS id_client,\n        date(orderfirstactiondatetimeutc) AS date_rfm,\n        ordertotalprice AS price_rfm\n    FROM payments \n    WHERE orderlinestatusidsexternalid = 'Paid'\n      AND date(orderfirstactiondatetimeutc) >= '2023-01-01'  \n      AND date(orderfirstactiondatetimeutc) <= '2024-09-30'\n),\n\nrfm AS (\n    SELECT \n        id_client,\n        ('2024-09-30'::date - max(date_rfm)) AS recency,  \n        sum(CASE WHEN date(date_rfm) >= '2023-01-01' AND date(date_rfm) <= '2024-09-30' THEN 1 ELSE 0 END) AS frequency,  \n        sum(price_rfm) AS monetary  \n    FROM payments_rfm\n    GROUP BY id_client\n),\n\nrfm_2 as (\n    SELECT *,  \n       ntile(4) OVER (ORDER BY recency) AS r,\n       ntile(4) OVER (ORDER BY frequency DESC) AS f,\n       ntile(4) OVER (ORDER BY monetary DESC) AS m\n    FROM rfm\n),\n\nrfm_score as (\n    SELECT *,\n       r::text || f::text || m::text AS rfm_score \n    FROM rfm_2\n)\n\nSELECT *,\n\nCASE\n    WHEN rfm_score IN ('111', '112', '121', '211', '122', '212', '221') THEN 'постоянные благодетели' -- Высокоценные, частые, недавние клиенты\n    WHEN rfm_score IN ('133', '134', '143', '144', '233','234', '243', '244', '311', '312', '321', '411', '412', '421') THEN 'активные сторонники' -- недавние клиенты с потенциалом для более высокой вовлеченности\n    WHEN rfm_score IN ('322', '323', '331', '332', '341', '342','422', '423', '431', '432', '441') THEN 'требующие внимания' -- Клиенты, подверженные риску оттока из-за снижения активности\n    WHEN rfm_score IN ('333', '334', '343', '344', '433', '434', '442', '443', '444') THEN 'утраченные' -- Неактивные клиенты с низкой вовлеченностью\n    ELSE 'other' \nEND AS customer_segment\n\nFROM rfm_score"

## Когортный анализ

In [ ]:
# проверка когорт через питон
a = orders.query('OrderLineStatusIdsExternalId == "Paid" and OrderFirstActionDateTimeUtc >= "2023-01-01" and OrderFirstActionDateTimeUtc <= "2023-12-31"')
a['OrderFirstActionDateTimeUtc'] = a['OrderFirstActionDateTimeUtc'].dt.strftime('%Y-%m-01')
a = a.groupby(['OrderCustomerIdsMindboxId', 'OrderFirstActionDateTimeUtc']).agg({'OrderTotalPrice': 'sum'}).reset_index()


# Найдем минимальную дату для каждого пользователя
cohorts_min_date = a.groupby('OrderCustomerIdsMindboxId')['OrderFirstActionDateTimeUtc'].min().reset_index()
cohorts_min_date = cohorts_min_date.rename(columns={'OrderFirstActionDateTimeUtc': 'CohortStartDate'})

# Объединим данные о когортах с минимальной датой
a = pd.merge(a, cohorts_min_date, on='OrderCustomerIdsMindboxId')

# Сгруппируем данные по дате старта когорты и посчитаем выручку
cohort_revenue = a.groupby('CohortStartDate')['OrderTotalPrice'].sum().reset_index()

cohort_revenue = a.groupby('CohortStartDate').agg({
    'OrderTotalPrice': 'sum',
    'OrderCustomerIdsMindboxId': 'nunique'
}).reset_index()

cohort_revenue = cohort_revenue.rename(columns={
    'OrderTotalPrice': 'Revenue',
    'OrderCustomerIdsMindboxId': 'UniqueUsers'
})

cohort_revenue

C:\Users\7\AppData\Local\Temp\ipykernel_8016\190661940.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  a['OrderFirstActionDateTimeUtc'] = a['OrderFirstActionDateTimeUtc'].dt.strftime('%Y-%m-01')

   CohortStartDate  Revenue  UniqueUsers
0   2023-01-01      2778334  767
1   2023-02-01      2731656  474
2   2023-03-01      1426046  631
3   2023-04-01      1399734  1057
4   2023-05-01      1174739  578
5   2023-06-01      1581766  1059
6   2023-07-01      860117   641
7   2023-08-01      351017   288
8   2023-09-01      1292542  1093
9   2023-10-01      695435   468
10  2023-11-01      457177   384
11  2023-12-01      873426   879

In [ ]:
%%sql
WITH profile AS (
    SELECT
        OrderCustomerIdsMindboxId AS id_client,
        strftime('%Y-%m-01', OrderFirstActionDateTimeUtc) AS month_sale,
        MIN(strftime('%Y-%m-01', OrderFirstActionDateTimeUtc)) OVER (PARTITION BY OrderCustomerIdsMindboxId) AS first_sale
    FROM
        orders
    WHERE
        OrderLineStatusIdsExternalId = 'Paid'
        AND OrderFirstActionDateTimeUtc BETWEEN '2023-01-01' AND '2023-12-31'
),
cohort_size AS (
    SELECT
        first_sale,
        COUNT(DISTINCT id_client) AS cohort_size
    FROM
        profile
    WHERE
        first_sale = month_sale
    GROUP BY
        first_sale
),
counts AS (
    SELECT
        first_sale,
        month_sale,
        COUNT(DISTINCT id_client) AS count_user
    FROM
        profile
    GROUP BY
        first_sale,
        month_sale
)
SELECT
    c.first_sale,
    c.month_sale,
    c.count_user,
    cs.cohort_size,
    LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale) AS previous_day_users_cnt,
    ROUND(100.0 * (1.0 - (c.count_user * 1.0 / NULLIF(LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale), 0))), 2) AS churn_rate,
    ROUND(100.0 * c.count_user * 1.0 / NULLIF(cs.cohort_size, 0), 2) AS RR
FROM
    counts c
JOIN
    cohort_size cs ON c.first_sale = cs.first_sale
ORDER BY
    c.first_sale,
    c.month_sale
limit 15

 * sqlite:///battle_aif.sql
Done.

[('2023-01-01', '2023-01-01', 767, 767, None, None, 100.0),
 ('2023-01-01', '2023-02-01', 158, 767, 767, 79.4, 20.6),
 ('2023-01-01', '2023-03-01', 208, 767, 158, -31.65, 27.12),
 ('2023-01-01', '2023-04-01', 179, 767, 208, 13.94, 23.34),
 ('2023-01-01', '2023-05-01', 174, 767, 179, 2.79, 22.69),
 ('2023-01-01', '2023-06-01', 180, 767, 174, -3.45, 23.47),
 ('2023-01-01', '2023-07-01', 183, 767, 180, -1.67, 23.86),
 ('2023-01-01', '2023-08-01', 185, 767, 183, -1.09, 24.12),
 ('2023-01-01', '2023-09-01', 180, 767, 185, 2.7, 23.47),
 ('2023-01-01', '2023-10-01', 181, 767, 180, -0.56, 23.6),
 ('2023-01-01', '2023-11-01', 187, 767, 181, -3.31, 24.38),
 ('2023-01-01', '2023-12-01', 187, 767, 187, 0.0, 24.38),
 ('2023-02-01', '2023-02-01', 474, 474, None, None, 100.0),
 ('2023-02-01', '2023-03-01', 115, 474, 474, 75.74, 24.26),
 ('2023-02-01', '2023-04-01', 87, 474, 115, 24.35, 18.35)]

когортный для даталенса

In [ ]:
'''WITH profile AS (
    SELECT
        ordercustomeridsmindboxid AS id_client,
        DATE_TRUNC('month', orderfirstactiondatetimeutc) AS month_sale,
        MIN(DATE_TRUNC('month', orderfirstactiondatetimeutc)) OVER (PARTITION BY ordercustomeridsmindboxid) AS first_sale
    FROM
        payments
    WHERE
        orderlinestatusidsexternalid = 'Paid'
        AND orderfirstactiondatetimeutc BETWEEN '2023-01-31' AND '2023-12-31'
),
cohort_size AS (
    SELECT
        first_sale,
        COUNT(DISTINCT id_client) AS cohort_size
    FROM
        profile
    WHERE
        first_sale = month_sale
    GROUP BY
        first_sale
),
counts AS (
    SELECT
        first_sale,
        month_sale,
        COUNT(DISTINCT id_client) AS count_user
    FROM
        profile
    GROUP BY
        first_sale,
        month_sale
)
SELECT
    c.first_sale,
    c.month_sale,
    c.count_user,
    cs.cohort_size,
    LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale) AS previous_day_users_cnt,
    ROUND(100.0 * (1.0 - (c.count_user * 1.0 / NULLIF(LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale), 0))), 2) AS churn_rate,
    ROUND(100.0 * c.count_user * 1.0 / NULLIF(cs.cohort_size, 0), 2) AS rr
FROM
    counts c
JOIN
    cohort_size cs ON c.first_sale = cs.first_sale
ORDER BY
    c.first_sale,
    c.month_sale'''

"WITH profile AS (\n    SELECT\n        ordercustomeridsmindboxid AS id_client,\n        DATE_TRUNC('month', orderfirstactiondatetimeutc) AS month_sale,\n        MIN(DATE_TRUNC('month', orderfirstactiondatetimeutc)) OVER (PARTITION BY ordercustomeridsmindboxid) AS first_sale\n    FROM\n        payments\n    WHERE\n        orderlinestatusidsexternalid = 'Paid'\n        AND orderfirstactiondatetimeutc BETWEEN '2023-01-31' AND '2023-12-31'\n),\ncohort_size AS (\n    SELECT\n        first_sale,\n        COUNT(DISTINCT id_client) AS cohort_size\n    FROM\n        profile\n    WHERE\n        first_sale = month_sale\n    GROUP BY\n        first_sale\n),\ncounts AS (\n    SELECT\n        first_sale,\n        month_sale,\n        COUNT(DISTINCT id_client) AS count_user\n    FROM\n        profile\n    GROUP BY\n        first_sale,\n        month_sale\n)\nSELECT\n    c.first_sale,\n    c.month_sale,\n    c.count_user,\n    cs.cohort_size,\n    LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale) AS previous_day_users_cnt,\n    ROUND(100.0 * (1.0 - (c.count_user * 1.0 / NULLIF(LAG(c.count_user) OVER (PARTITION BY c.first_sale ORDER BY c.month_sale), 0))), 2) AS churn_rate,\n    ROUND(100.0 * c.count_user * 1.0 / NULLIF(cs.cohort_size, 0), 2) AS rr\nFROM\n    counts c\nJOIN\n    cohort_size cs ON c.first_sale = cs.first_sale\nORDER BY\n    c.first_sale,\n    c.month_sale"

## LTV(ARPPU)
ARPPU, или Average Revenue Per Paying User, — тот же LTV, но рассчитанный с учётом только платящих пользователей когорты. Выручку с накоплением делят на число пользователей, совершивших хотя бы одну покупку.

код для дл

In [ ]:
'''WITH cohort AS (
    SELECT
        ordercustomeridsmindboxid AS id_client,
        MIN(DATE_TRUNC('month', orderfirstactiondatetimeutc)) AS start_cohort,
        MAX(DATE_TRUNC('month', orderfirstactiondatetimeutc)) AS last_action_date,
        SUM(ordertotalprice) AS total_revenue
    FROM
        payments
    WHERE
        orderfirstactiondatetimeutc BETWEEN '2023-01-01' AND '2023-12-31' AND orderlinestatusidsexternalid = 'Paid'
    GROUP BY
        ordercustomeridsmindboxid
),
cohort_size AS (
    SELECT
        start_cohort,
        COUNT(DISTINCT id_client) AS cohort_size
    FROM
        cohort
    GROUP BY
        start_cohort
),
lifetime AS (
    SELECT
        start_cohort,
        EXTRACT(YEAR FROM last_action_date) * 12 + EXTRACT(MONTH FROM last_action_date) - (EXTRACT(YEAR FROM start_cohort) * 12 + EXTRACT(MONTH FROM start_cohort)) AS lifetime_months
    FROM
        cohort
),
ltv AS (
    SELECT
        lifetime_months,
        lf.start_cohort,
        c.cohort_size,
        CASE
            WHEN c.cohort_size = 0 THEN 0
            ELSE (SUM(ch.total_revenue) OVER (PARTITION BY lf.start_cohort ORDER BY lifetime_months)) / c.cohort_size / c.cohort_size
        END AS ltv
    FROM
        lifetime AS lf
    JOIN
        cohort_size AS c ON lf.start_cohort = c.start_cohort
    JOIN
        cohort AS ch ON c.start_cohort = ch.start_cohort
)
SELECT
    lifetime_months,
    start_cohort,
    ltv
FROM
    ltv
GROUP BY
    lifetime_months,
    start_cohort,
    ltv
ORDER BY
    start_cohort,
    lifetime_months'''

"WITH cohort AS (\n    SELECT\n        ordercustomeridsmindboxid AS id_client,\n        MIN(DATE_TRUNC('month', orderfirstactiondatetimeutc)) AS start_cohort,\n        MAX(DATE_TRUNC('month', orderfirstactiondatetimeutc)) AS last_action_date,\n        SUM(ordertotalprice) AS total_revenue\n    FROM\n        payments\n    WHERE\n        orderfirstactiondatetimeutc BETWEEN '2023-01-01' AND '2023-12-31' AND orderlinestatusidsexternalid = 'Paid'\n    GROUP BY\n        ordercustomeridsmindboxid\n),\ncohort_size AS (\n    SELECT\n        start_cohort,\n        COUNT(DISTINCT id_client) AS cohort_size\n    FROM\n        cohort\n    GROUP BY\n        start_cohort\n),\nlifetime AS (\n    SELECT\n        start_cohort,\n        EXTRACT(YEAR FROM last_action_date) * 12 + EXTRACT(MONTH FROM last_action_date) - (EXTRACT(YEAR FROM start_cohort) * 12 + EXTRACT(MONTH FROM start_cohort)) AS lifetime_months\n    FROM\n        cohort\n),\nltv AS (\n    SELECT\n        lifetime_months,\n        lf.start_cohort,\n        c.cohort_size,\n        CASE\n            WHEN c.cohort_size = 0 THEN 0\n            ELSE (SUM(ch.total_revenue) OVER (PARTITION BY lf.start_cohort ORDER BY lifetime_months)) / c.cohort_size / c.cohort_size\n        END AS ltv\n    FROM\n        lifetime AS lf\n    JOIN\n        cohort_size AS c ON lf.start_cohort = c.start_cohort\n    JOIN\n        cohort AS ch ON c.start_cohort = ch.start_cohort\n)\nSELECT\n    lifetime_months,\n    start_cohort,\n    ltv\nFROM\n    ltv\nGROUP BY\n    lifetime_months,\n    start_cohort,\n    ltv\nORDER BY\n    start_cohort,\n    lifetime_months"

In [ ]:
%%sql
WITH cohort AS (
    SELECT
        OrderCustomerIdsMindboxId AS id_client,
        MIN(strftime('%Y-%m-01', OrderFirstActionDateTimeUtc)) AS start_cohort,
        MAX(strftime('%Y-%m-01', OrderFirstActionDateTimeUtc)) AS last_action_date,
        SUM(OrderTotalPrice) as total_revenue  -- Добавляем сумму дохода
    FROM
        orders
    WHERE
        OrderFirstActionDateTimeUtc BETWEEN '2023-01-01' AND '2023-12-31' and OrderLineStatusIdsExternalId = 'Paid'
    GROUP BY
        OrderCustomerIdsMindboxId
),
cohort_size AS (
    SELECT
        start_cohort,
        COUNT(DISTINCT id_client) AS cohort_size
    FROM
        cohort
    GROUP BY
        start_cohort
),

lifetime as (SELECT
    start_cohort,
    STRFTIME('%Y', c.last_action_date) * 12 + STRFTIME('%m', c.last_action_date) - (STRFTIME('%Y', c.start_cohort) * 12 + STRFTIME('%m', c.start_cohort)) AS lifetime_months
FROM
    cohort c),

ltv as (SELECT
    lifetime_months,
    lf.start_cohort,
    c.cohort_size,
    CASE
        WHEN c.cohort_size = 0 THEN 0
        ELSE (SUM(ch.total_revenue) OVER (PARTITION BY lf.start_cohort ORDER BY lifetime_months))/c.cohort_size /c.cohort_size
    END AS ltv
FROM
    lifetime as lf
JOIN
    cohort_size as c ON lf.start_cohort = c.start_cohort
JOIN
    cohort as ch ON c.start_cohort = ch.start_cohort)

SELECT lifetime_months,
start_cohort,
ltv

from ltv

group by lifetime_months,
start_cohort,
ltv

order by start_cohort, lifetime_months

limit 30

 * sqlite:///battle_aif.sql
Done.

[(0, '2023-01-01', 1487),
 (1, '2023-01-01', 1558),
 (2, '2023-01-01', 1667),
 (3, '2023-01-01', 1808),
 (4, '2023-01-01', 1870),
 (5, '2023-01-01', 1955),
 (6, '2023-01-01', 2040),
 (7, '2023-01-01', 2134),
 (8, '2023-01-01', 2243),
 (9, '2023-01-01', 2403),
 (10, '2023-01-01', 2739),
 (11, '2023-01-01', 3622),
 (0, '2023-02-01', 2565),
 (1, '2023-02-01', 2772),
 (2, '2023-02-01', 2905),
 (3, '2023-02-01', 3051),
 (4, '2023-02-01', 3197),
 (5, '2023-02-01', 3258),
 (6, '2023-02-01', 3440),
 (7, '2023-02-01', 3708),
 (8, '2023-02-01', 3902),
 (9, '2023-02-01', 4425),
 (10, '2023-02-01', 5762),
 (0, '2023-03-01', 1164),
 (1, '2023-03-01', 1239),
 (2, '2023-03-01', 1310),
 (3, '2023-03-01', 1364),
 (4, '2023-03-01', 1418),
 (5, '2023-03-01', 1515),
 (6, '2023-03-01', 1565)]

In [ ]:
%%sql
-- размер когорт для проверки расчетов
WITH cohort AS (
    SELECT
        OrderCustomerIdsMindboxId AS id_client,
        MIN(strftime('%Y-%m-01', OrderFirstActionDateTimeUtc)) AS start_cohort,
        MAX(strftime('%Y-%m-01', OrderFirstActionDateTimeUtc)) AS last_action_date,
        SUM(OrderTotalPrice) as total_revenue  -- Добавляем сумму дохода
    FROM
        orders
    WHERE
        OrderFirstActionDateTimeUtc BETWEEN '2023-01-01' AND '2023-12-31' and OrderLineStatusIdsExternalId = 'Paid'
    GROUP BY
        OrderCustomerIdsMindboxId
)

SELECT start_cohort, COUNT(DISTINCT id_client) AS cohort_size
FROM cohort
group by start_cohort
limit 5

 * sqlite:///battle_aif.sql
Done.

[('2023-01-01', 767),
 ('2023-02-01', 474),
 ('2023-03-01', 631),
 ('2023-04-01', 1057),
 ('2023-05-01', 578)]

## MAU (Monthly Active Users)
количество уникальных пользователей, которые оплачивали в приложении в течение месяца.

In [ ]:
'''WITH monthly_data_mau AS (
    SELECT
        ordercustomeridsmindboxid AS id_client,
        DATE_TRUNC('month', orderfirstactiondatetimeutc) AS month_order
    FROM
        payments
    WHERE
        orderfirstactiondatetimeutc BETWEEN '2023-01-31' AND '2024-09-30' AND orderlinestatusidsexternalid = 'Paid'
)
SELECT
    month_order,
    COUNT(DISTINCT id_client) AS mau
FROM
    monthly_data_mau
GROUP BY
    month_order
ORDER BY
    month_order;'''

"WITH monthly_data_mau AS (\n    SELECT\n        ordercustomeridsmindboxid AS id_client,\n        DATE_TRUNC('month', orderfirstactiondatetimeutc) AS month_order\n    FROM\n        payments\n    WHERE\n        orderfirstactiondatetimeutc BETWEEN '2023-01-31' AND '2024-09-30' AND orderlinestatusidsexternalid = 'Paid'\n)\nSELECT\n    month_order,\n    COUNT(DISTINCT id_client) AS mau\nFROM\n    monthly_data_mau\nGROUP BY\n    month_order\nORDER BY\n    month_order;"

In [ ]:
%%sql

WITH monthly_data_mau AS (
    SELECT OrderCustomerIdsMindboxId AS id_client,
    strftime('%Y-%m-01', OrderFirstActionDateTimeUtc) month_order

FROM orders
WHERE OrderFirstActionDateTimeUtc BETWEEN '2023-01-01' AND '2024-09-30' and OrderLineStatusIdsExternalId = 'Paid'

)

SELECT month_order,
      COUNT(DISTINCT id_client) AS MAU
FROM monthly_data_mau
GROUP BY month_order
ORDER BY month_order

limit 5

 * sqlite:///battle_aif.sql
Done.

[('2023-01-01', 23),
 ('2023-02-01', 632),
 ('2023-03-01', 954),
 ('2023-04-01', 1411),
 ('2023-05-01', 1040)]

In [ ]:
orders.head()

,OrderFirstActionDateTimeUtc,OrderFirstActionChannelName,OrderTotalPrice,OrderCustomFieldsNewyear,OrderCustomFieldsRecurrent,OrderCustomFieldsRepayment,OrderLineProductName,OrderLineQuantity,OrderLinePriceOfLine,OrderLineStatusIdsExternalId,OrderCustomerIdsMindboxId
0,2022-01-27,Административный сайт Mindbox,500,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,500,Paid,6959
1,2022-01-29,Административный сайт Mindbox,200,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,200,Paid,7103
2,2022-01-31,Административный сайт Mindbox,300,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,300,Paid,7321
3,2022-02-06,Административный сайт Mindbox,300,NaN,NaN,NaN,Пожертвование Благотворительный фонд «АиФ. Доброе сердце» Никита Суриков,1,300,Paid,7143
4,2022-02-28,Административный сайт Mindbox,50,NaN,NaN,NaN,На уставную деятельность,1,50,Paid,7079